.app {
  padding: 10px;
}
.form-input {
  margin: 10px 0px;
}

.blogPostDisplay {
  border: 1px solid lightseagreen;
  margin: 5px 0px;
  border-radius: 5px;
  padding: 10px;
}

form {
  width: 50%;
}

.form-input input,
.form-input textarea {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid lightseagreen;
  padding: 0.375rem;
  outline: none;
}
